/* main elements*/
body {
    background: LightSteelBlue;
    background-image: url("../img/non_food/background_image.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

header {
    margin-top: -45px;

    border: 0px;
    border-bottom: 5px;
    border-style: solid;
    
    border-color: MidnightBlue;
}

/*login elements*/
.login_button {
    background-color: MidnightBlue;
    display: inline-block;
    margin-left: 92%;
    color: white;
    text-align: right;
    padding: 14px 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius: 6px;
}


.login_link {
    color: white;
    padding: 10px;
}

.login_link:hover {
    color: Aquamarine;
    background-color: #212175;

}

/*pushes most of the page to the side for the sake of the menu bar*/
.meat {
    margin-left: 125px;
}

/*header and footer*/
.earth_png {
    display: inline;
    border-radius: 30%
}

.main_name {
    color: #006030;
    display: inline-block;
    text-align: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;
}

footer {
    display: block;
    margin-left: 125px;
    float: left;
}

/*font stuff*/
h1 {
    color: #004000;
    text-align: center;
    font-size: 36px;
    font-family: "Georgia", serif;
}

.special {
    color: #101050;
    text-align: center;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
    font-size: 15px;
    font-family: "Georgia", serif;
}

li {
    font-size: 15px;
    font-family: "Georgia", serif;
}

/*navigation bar formatting*/
nav ul {
    list-style-type: none;
    margin: -8px;
    padding: 3px;
    width: 120px;
    position: fixed;
    height: 100%;
    overflow: auto;
    overflow: hidden;
    background-color: MidnightBlue;
}

nav li a {
    display: block;
    margin: 2px;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius: 6px;
}
nav li a:hover {
    color: Aquamarine;
    background-color: #212175;
}

nav li a.active {
    color: LightGreen;
    background-color: #003200;
}

input[type=text], input[type=email], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#ranking-table {
   padding: 0 35%;
   margin-left: auto;
   margin-right: auto;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (min-width: 1050px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    #ranking-table {
      padding: 0 43%;
      margin-left: auto;
      margin-right: auto;
    }
}
/*recipe columns*/
.columnA {
    width: 45%;
    display: inline-block;
    float: left;
    
    padding-right: 5%;
    border: 0px;
    border-right: 5px;
    border-style: solid;
    
    border-color: MidnightBlue;
}

.columnB {
    width: 45%;
    display: inline-block;
    float: right;
}

.divi_cont {
    border: 0px;
    border-top: 2px;
    border-style: solid;
    
    border-color: MidnightBlue;
}

table {
    background-color: LightSteelBlue;
    border: 1px solid #222;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
  border-bottom: 1px solid #222;
}

tr:nth-child(even) {
    background-color: #ddd;
}